
.idea/ChatGPTCopilotChannelManager.xml
.idea/katusiimeconrad.github.io.iml
.idea/misc.xml
.idea/modules.xml
.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/securityhotspotstore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
.idea/sonarlint/securityhotspotstore/index.pb
.idea/vcs.xml
